In [5]:
import requests
from scrapy import Selector
import pandas as pd

# Step 1: Fetch Data from the Website

In [6]:
url="https://www.bikewale.com/royalenfield-bikes/"

In [7]:
headers=({'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:135.0) Gecko/20100101 Firefox/135.0'})

In [8]:
response = requests.get(url, headers = headers)

In [9]:
response

# Step 2: Parse HTML using Scrapy Selector

In [10]:
bike=Selector(text=response.text)

In [11]:
# Step 3: Extract Data Using CSS Selectors

In [12]:
name = bike.css(".o-jjpuv.o-cVMLxW.o-mHabQ.o-fzpibK::text").getall()

In [13]:
name

['Royal Enfield Hunter 350',
 'Royal Enfield Classic 350',
 'Royal Enfield Continental GT 650',
 'Royal Enfield Bullet 350',
 'Royal Enfield Meteor 350',
 'Royal Enfield Himalayan 450',
 'Royal Enfield Super Meteor 650',
 'Royal Enfield Shotgun 650',
 'Royal Enfield Guerrilla 450',
 'Royal Enfield Interceptor 650',
 'Royal Enfield Goan Classic 350',
 'Royal Enfield Scram 440',
 'Royal Enfield Bear 650',
 'Royal Enfield Classic 650',
 'Royal Enfield Himalayan 750',
 'Royal Enfield Scrambler 450',
 'Royal Enfield Flying Flea C6',
 'Royal Enfield Bullet 650 Twin',
 'Royal Enfield Continental GT 450',
 'Royal Enfield Himalayan Electric',
 'Royal Enfield Himalayan Raid 450',
 'Royal Enfield Flying Flea S6 Scrambler']

In [14]:
price=bike.css(".o-cJrNdO.o-byFsZJ.o-bkmzIL.o-bVSleT::text").getall()or None

In [15]:
price

['₹ 1,49,900',
 '₹ 1,93,080',
 '₹ 3,18,418',
 '₹ 1,73,562',
 '₹ 2,05,528',
 '₹ 2,85,000',
 '₹ 3,63,900',
 '₹ 3,59,430',
 '₹ 2,39,000',
 '₹ 3,02,418',
 '₹ 2,35,000',
 '₹ 2,08,000',
 '₹ 3,39,000']

In [16]:
rating=bike.css(".o-cwUopP.o-fzpimR.o-KxopV.o-sTQWx.o-dThPjR::text").getall()or None

In [17]:
rating

['2386 Ratings',
 '513 Ratings',
 '1029 Ratings',
 '826 Ratings',
 '799 Ratings',
 '228 Ratings',
 '138 Ratings',
 '101 Ratings',
 '121 Ratings',
 '421 Ratings',
 '34 Ratings',
 '14 Ratings',
 '14 Ratings']

In [18]:
star=bike.css(".o-frVjwE.o-bdcqVx.o-cVMLxW.o-cKuOoN.o-lIIwF.o-cJrNdO::text").getall()or None

In [19]:
star

['4.7',
 '4.7',
 '4.8',
 '4.6',
 '4.6',
 '4.7',
 '4.8',
 '4.8',
 '4.7',
 '4.6',
 '4.8',
 '3.9',
 '4.8']

In [20]:
showroom=bike.css(".o-bqHweY.onOEBQ.o-cgFpsP.o-bNxxEB.o-zmksK.o-eemiLE::text").getall()or None

In [21]:
showroom

['Avg. Ex-Showroom price',
 'Avg. Ex-Showroom price',
 'Avg. Ex-Showroom price',
 'Avg. Ex-Showroom price',
 'Avg. Ex-Showroom price',
 'Avg. Ex-Showroom price',
 'Avg. Ex-Showroom price',
 'Avg. Ex-Showroom price',
 'Avg. Ex-Showroom price',
 'Avg. Ex-Showroom price',
 'Avg. Ex-Showroom price',
 'Avg. Ex-Showroom price',
 'Avg. Ex-Showroom price']

In [22]:
kg=bike.css("div:nth-child(3) > span:nth-child(4) > span:nth-child(1)::text").getall()or None

In [23]:
kg

['177 kg',
 '195 kg',
 '211 kg',
 '195 kg',
 '191 kg',
 '196 kg',
 '241 kg',
 '240 kg',
 '185 kg',
 '213 kg',
 '197 kg',
 '196 kg',
 '216 kg']

In [24]:
cc=bike.css(" div:nth-child(3) > span:nth-child(1) > span:nth-child(1)::text").getall()or None

In [25]:
kmpl=bike.css(" div:nth-child(3) > span:nth-child(2) > span:nth-child(1)::text").getall()or None

In [26]:
kmpl

['35 kmpl',
 '35 kmpl',
 '25 kmpl',
 '35 kmpl',
 '35 kmpl',
 '30 kmpl',
 '25 kmpl',
 '22.5 kmpl',
 '30 kmpl',
 '24 kmpl',
 '33 kmpl',
 '30 kmpl',
 '25 kmpl']

In [27]:
bhp=bike.css(" div:nth-child(3) > span:nth-child(3) > span:nth-child(1)::text").getall()or None

In [28]:
bhp

['20.2 bhp',
 '20.2 bhp',
 '47 bhp',
 '20.2 bhp',
 '19.94 bhp',
 '39.47 bhp',
 '46.3 bhp',
 '46.39 bhp',
 '39.47 bhp',
 '47 bhp',
 '19.94 bhp',
 '25.4 bhp',
 '46.8 bhp']

# Ensure all lists are of the same length

In [29]:
min_length = min(len(name), len(price), len(rating), len(star), len(showroom), len(kg), len(cc), len(kmpl), len(bhp))

In [30]:
min_length

13

In [31]:
names = name[:min_length]
prices = price[:min_length]
ratings = rating[:min_length]
stars = star[:min_length]
showrooms = showroom[:min_length]
kgs = kg[:min_length]
ccs = cc[:min_length]
kmpls = kmpl[:min_length]
bhps = bhp[:min_length]

# Step 4: Store Data in a Pandas DataFrame

In [32]:
data = pd.DataFrame({
    "Name": names,
    "Price": prices,
    "Rating": ratings,
    "Star": stars,
    "Showroom": showrooms,
    "KG ": kgs,
    "CC": ccs,
    "Mileage": kmpls,
    "BHP": bhps
})

In [33]:
data

,Name,Price,Rating,Star,Showroom,KG,CC,Mileage,BHP
0,Royal Enfield Hunter 350,"₹ 1,49,900",2386 Ratings,4.7,Avg. Ex-Showroom price,177 kg,349.34 cc,35 kmpl,20.2 bhp
1,Royal Enfield Classic 350,"₹ 1,93,080",513 Ratings,4.7,Avg. Ex-Showroom price,195 kg,349 cc,35 kmpl,20.2 bhp
2,Royal Enfield Continental GT 650,"₹ 3,18,418",1029 Ratings,4.8,Avg. Ex-Showroom price,211 kg,648 cc,25 kmpl,47 bhp
3,Royal Enfield Bullet 350,"₹ 1,73,562",826 Ratings,4.6,Avg. Ex-Showroom price,195 kg,349 cc,35 kmpl,20.2 bhp
4,Royal Enfield Meteor 350,"₹ 2,05,528",799 Ratings,4.6,Avg. Ex-Showroom price,191 kg,349.34 cc,35 kmpl,19.94 bhp
5,Royal Enfield Himalayan 450,"₹ 2,85,000",228 Ratings,4.7,Avg. Ex-Showroom price,196 kg,452 cc,30 kmpl,39.47 bhp
6,Royal Enfield Super Meteor 650,"₹ 3,63,900",138 Ratings,4.8,Avg. Ex-Showroom price,241 kg,648 cc,25 kmpl,46.3 bhp
7,Royal Enfield Shotgun 650,"₹ 3,59,430",101 Ratings,4.8,Avg. Ex-Showroom price,240 kg,648 cc,22.5 kmpl,46.39 bhp
8,Royal Enfield Guerrilla 450,"₹ 2,39,000",121 Ratings,4.7,Avg. Ex-Showroom price,185 kg,452 cc,30 kmpl,39.47 bhp
9,Royal Enfield Interceptor 650,"₹ 3,02,418",421 Ratings,4.6,Avg. Ex-Showroom price,213 kg,648 cc,24 kmpl,47 bhp
10,Royal Enfield Goan Classic 350,"₹ 2,35,000",34 Ratings,4.8,Avg. Ex-Showroom price,197 kg,349 cc,33 kmpl,19.94 bhp
11,Royal Enfield Scram 440,"₹ 2,08,000",14 Ratings,3.9,Avg. Ex-Showroom price,196 kg,443 cc,30 kmpl,25.4 bhp
12,Royal Enfield Bear 650,"₹ 3,39,000",14 Ratings,4.8,Avg. Ex-Showroom price,216 kg,648 cc,25 kmpl,46.8 bhp

In [34]:
data.to_csv("hari_enfield_bikes_unclean.csv",index=False)

# Step 5: Clean and Save the Data

In [35]:
def convert_price(price):
    try:
        return float(price.replace("₹", "").replace(",", ""))
    except:
        return None

data["Price"] = data["Price"].apply(convert_price)

In [36]:
data

,Name,Price,Rating,Star,Showroom,KG,CC,Mileage,BHP
0,Royal Enfield Hunter 350,149900.0,2386 Ratings,4.7,Avg. Ex-Showroom price,177 kg,349.34 cc,35 kmpl,20.2 bhp
1,Royal Enfield Classic 350,193080.0,513 Ratings,4.7,Avg. Ex-Showroom price,195 kg,349 cc,35 kmpl,20.2 bhp
2,Royal Enfield Continental GT 650,318418.0,1029 Ratings,4.8,Avg. Ex-Showroom price,211 kg,648 cc,25 kmpl,47 bhp
3,Royal Enfield Bullet 350,173562.0,826 Ratings,4.6,Avg. Ex-Showroom price,195 kg,349 cc,35 kmpl,20.2 bhp
4,Royal Enfield Meteor 350,205528.0,799 Ratings,4.6,Avg. Ex-Showroom price,191 kg,349.34 cc,35 kmpl,19.94 bhp
5,Royal Enfield Himalayan 450,285000.0,228 Ratings,4.7,Avg. Ex-Showroom price,196 kg,452 cc,30 kmpl,39.47 bhp
6,Royal Enfield Super Meteor 650,363900.0,138 Ratings,4.8,Avg. Ex-Showroom price,241 kg,648 cc,25 kmpl,46.3 bhp
7,Royal Enfield Shotgun 650,359430.0,101 Ratings,4.8,Avg. Ex-Showroom price,240 kg,648 cc,22.5 kmpl,46.39 bhp
8,Royal Enfield Guerrilla 450,239000.0,121 Ratings,4.7,Avg. Ex-Showroom price,185 kg,452 cc,30 kmpl,39.47 bhp
9,Royal Enfield Interceptor 650,302418.0,421 Ratings,4.6,Avg. Ex-Showroom price,213 kg,648 cc,24 kmpl,47 bhp
10,Royal Enfield Goan Classic 350,235000.0,34 Ratings,4.8,Avg. Ex-Showroom price,197 kg,349 cc,33 kmpl,19.94 bhp
11,Royal Enfield Scram 440,208000.0,14 Ratings,3.9,Avg. Ex-Showroom price,196 kg,443 cc,30 kmpl,25.4 bhp
12,Royal Enfield Bear 650,339000.0,14 Ratings,4.8,Avg. Ex-Showroom price,216 kg,648 cc,25 kmpl,46.8 bhp

In [37]:
def convert_ratings(Rating):
    try:
        return float(Rating.replace("Ratings", "").replace(",", ""))
    except:
        return None

data["Rating"] = data["Rating"].apply(convert_ratings)

In [38]:
data

,Name,Price,Rating,Star,Showroom,KG,CC,Mileage,BHP
0,Royal Enfield Hunter 350,149900.0,2386.0,4.7,Avg. Ex-Showroom price,177 kg,349.34 cc,35 kmpl,20.2 bhp
1,Royal Enfield Classic 350,193080.0,513.0,4.7,Avg. Ex-Showroom price,195 kg,349 cc,35 kmpl,20.2 bhp
2,Royal Enfield Continental GT 650,318418.0,1029.0,4.8,Avg. Ex-Showroom price,211 kg,648 cc,25 kmpl,47 bhp
3,Royal Enfield Bullet 350,173562.0,826.0,4.6,Avg. Ex-Showroom price,195 kg,349 cc,35 kmpl,20.2 bhp
4,Royal Enfield Meteor 350,205528.0,799.0,4.6,Avg. Ex-Showroom price,191 kg,349.34 cc,35 kmpl,19.94 bhp
5,Royal Enfield Himalayan 450,285000.0,228.0,4.7,Avg. Ex-Showroom price,196 kg,452 cc,30 kmpl,39.47 bhp
6,Royal Enfield Super Meteor 650,363900.0,138.0,4.8,Avg. Ex-Showroom price,241 kg,648 cc,25 kmpl,46.3 bhp
7,Royal Enfield Shotgun 650,359430.0,101.0,4.8,Avg. Ex-Showroom price,240 kg,648 cc,22.5 kmpl,46.39 bhp
8,Royal Enfield Guerrilla 450,239000.0,121.0,4.7,Avg. Ex-Showroom price,185 kg,452 cc,30 kmpl,39.47 bhp
9,Royal Enfield Interceptor 650,302418.0,421.0,4.6,Avg. Ex-Showroom price,213 kg,648 cc,24 kmpl,47 bhp
10,Royal Enfield Goan Classic 350,235000.0,34.0,4.8,Avg. Ex-Showroom price,197 kg,349 cc,33 kmpl,19.94 bhp
11,Royal Enfield Scram 440,208000.0,14.0,3.9,Avg. Ex-Showroom price,196 kg,443 cc,30 kmpl,25.4 bhp
12,Royal Enfield Bear 650,339000.0,14.0,4.8,Avg. Ex-Showroom price,216 kg,648 cc,25 kmpl,46.8 bhp

In [39]:
def convert_kg(kg):
    try:
        return float (kg.replace("kg", ""))
    except:
        return None

data['KG '] = data['KG '].apply(convert_kg)

In [40]:
data

,Name,Price,Rating,Star,Showroom,KG,CC,Mileage,BHP
0,Royal Enfield Hunter 350,149900.0,2386.0,4.7,Avg. Ex-Showroom price,177.0,349.34 cc,35 kmpl,20.2 bhp
1,Royal Enfield Classic 350,193080.0,513.0,4.7,Avg. Ex-Showroom price,195.0,349 cc,35 kmpl,20.2 bhp
2,Royal Enfield Continental GT 650,318418.0,1029.0,4.8,Avg. Ex-Showroom price,211.0,648 cc,25 kmpl,47 bhp
3,Royal Enfield Bullet 350,173562.0,826.0,4.6,Avg. Ex-Showroom price,195.0,349 cc,35 kmpl,20.2 bhp
4,Royal Enfield Meteor 350,205528.0,799.0,4.6,Avg. Ex-Showroom price,191.0,349.34 cc,35 kmpl,19.94 bhp
5,Royal Enfield Himalayan 450,285000.0,228.0,4.7,Avg. Ex-Showroom price,196.0,452 cc,30 kmpl,39.47 bhp
6,Royal Enfield Super Meteor 650,363900.0,138.0,4.8,Avg. Ex-Showroom price,241.0,648 cc,25 kmpl,46.3 bhp
7,Royal Enfield Shotgun 650,359430.0,101.0,4.8,Avg. Ex-Showroom price,240.0,648 cc,22.5 kmpl,46.39 bhp
8,Royal Enfield Guerrilla 450,239000.0,121.0,4.7,Avg. Ex-Showroom price,185.0,452 cc,30 kmpl,39.47 bhp
9,Royal Enfield Interceptor 650,302418.0,421.0,4.6,Avg. Ex-Showroom price,213.0,648 cc,24 kmpl,47 bhp
10,Royal Enfield Goan Classic 350,235000.0,34.0,4.8,Avg. Ex-Showroom price,197.0,349 cc,33 kmpl,19.94 bhp
11,Royal Enfield Scram 440,208000.0,14.0,3.9,Avg. Ex-Showroom price,196.0,443 cc,30 kmpl,25.4 bhp
12,Royal Enfield Bear 650,339000.0,14.0,4.8,Avg. Ex-Showroom price,216.0,648 cc,25 kmpl,46.8 bhp

In [41]:
def convert_cc(CC):
    try:
        return float(CC.replace("cc", "").replace(",", ""))
    except:
        return None

data["CC"] = data["CC"].apply(convert_cc)

In [42]:
data

,Name,Price,Rating,Star,Showroom,KG,CC,Mileage,BHP
0,Royal Enfield Hunter 350,149900.0,2386.0,4.7,Avg. Ex-Showroom price,177.0,349.34,35 kmpl,20.2 bhp
1,Royal Enfield Classic 350,193080.0,513.0,4.7,Avg. Ex-Showroom price,195.0,349.00,35 kmpl,20.2 bhp
2,Royal Enfield Continental GT 650,318418.0,1029.0,4.8,Avg. Ex-Showroom price,211.0,648.00,25 kmpl,47 bhp
3,Royal Enfield Bullet 350,173562.0,826.0,4.6,Avg. Ex-Showroom price,195.0,349.00,35 kmpl,20.2 bhp
4,Royal Enfield Meteor 350,205528.0,799.0,4.6,Avg. Ex-Showroom price,191.0,349.34,35 kmpl,19.94 bhp
5,Royal Enfield Himalayan 450,285000.0,228.0,4.7,Avg. Ex-Showroom price,196.0,452.00,30 kmpl,39.47 bhp
6,Royal Enfield Super Meteor 650,363900.0,138.0,4.8,Avg. Ex-Showroom price,241.0,648.00,25 kmpl,46.3 bhp
7,Royal Enfield Shotgun 650,359430.0,101.0,4.8,Avg. Ex-Showroom price,240.0,648.00,22.5 kmpl,46.39 bhp
8,Royal Enfield Guerrilla 450,239000.0,121.0,4.7,Avg. Ex-Showroom price,185.0,452.00,30 kmpl,39.47 bhp
9,Royal Enfield Interceptor 650,302418.0,421.0,4.6,Avg. Ex-Showroom price,213.0,648.00,24 kmpl,47 bhp
10,Royal Enfield Goan Classic 350,235000.0,34.0,4.8,Avg. Ex-Showroom price,197.0,349.00,33 kmpl,19.94 bhp
11,Royal Enfield Scram 440,208000.0,14.0,3.9,Avg. Ex-Showroom price,196.0,443.00,30 kmpl,25.4 bhp
12,Royal Enfield Bear 650,339000.0,14.0,4.8,Avg. Ex-Showroom price,216.0,648.00,25 kmpl,46.8 bhp

In [43]:
def convert_kmpl(Mileage):
    try:
        return float(Mileage.replace("kmpl", "").replace(",", ""))
    except:
        return None

data["Mileage"] = data["Mileage"].apply(convert_kmpl)

In [44]:
data

,Name,Price,Rating,Star,Showroom,KG,CC,Mileage,BHP
0,Royal Enfield Hunter 350,149900.0,2386.0,4.7,Avg. Ex-Showroom price,177.0,349.34,35.0,20.2 bhp
1,Royal Enfield Classic 350,193080.0,513.0,4.7,Avg. Ex-Showroom price,195.0,349.00,35.0,20.2 bhp
2,Royal Enfield Continental GT 650,318418.0,1029.0,4.8,Avg. Ex-Showroom price,211.0,648.00,25.0,47 bhp
3,Royal Enfield Bullet 350,173562.0,826.0,4.6,Avg. Ex-Showroom price,195.0,349.00,35.0,20.2 bhp
4,Royal Enfield Meteor 350,205528.0,799.0,4.6,Avg. Ex-Showroom price,191.0,349.34,35.0,19.94 bhp
5,Royal Enfield Himalayan 450,285000.0,228.0,4.7,Avg. Ex-Showroom price,196.0,452.00,30.0,39.47 bhp
6,Royal Enfield Super Meteor 650,363900.0,138.0,4.8,Avg. Ex-Showroom price,241.0,648.00,25.0,46.3 bhp
7,Royal Enfield Shotgun 650,359430.0,101.0,4.8,Avg. Ex-Showroom price,240.0,648.00,22.5,46.39 bhp
8,Royal Enfield Guerrilla 450,239000.0,121.0,4.7,Avg. Ex-Showroom price,185.0,452.00,30.0,39.47 bhp
9,Royal Enfield Interceptor 650,302418.0,421.0,4.6,Avg. Ex-Showroom price,213.0,648.00,24.0,47 bhp
10,Royal Enfield Goan Classic 350,235000.0,34.0,4.8,Avg. Ex-Showroom price,197.0,349.00,33.0,19.94 bhp
11,Royal Enfield Scram 440,208000.0,14.0,3.9,Avg. Ex-Showroom price,196.0,443.00,30.0,25.4 bhp
12,Royal Enfield Bear 650,339000.0,14.0,4.8,Avg. Ex-Showroom price,216.0,648.00,25.0,46.8 bhp

In [45]:
def convert_bhp(BHP):
    try:
        return float(BHP.replace("bhp", "").replace(",", ""))
    except:
        return None

data["BHP"] = data["BHP"].apply(convert_bhp)

In [46]:
data

,Name,Price,Rating,Star,Showroom,KG,CC,Mileage,BHP
0,Royal Enfield Hunter 350,149900.0,2386.0,4.7,Avg. Ex-Showroom price,177.0,349.34,35.0,20.20
1,Royal Enfield Classic 350,193080.0,513.0,4.7,Avg. Ex-Showroom price,195.0,349.00,35.0,20.20
2,Royal Enfield Continental GT 650,318418.0,1029.0,4.8,Avg. Ex-Showroom price,211.0,648.00,25.0,47.00
3,Royal Enfield Bullet 350,173562.0,826.0,4.6,Avg. Ex-Showroom price,195.0,349.00,35.0,20.20
4,Royal Enfield Meteor 350,205528.0,799.0,4.6,Avg. Ex-Showroom price,191.0,349.34,35.0,19.94
5,Royal Enfield Himalayan 450,285000.0,228.0,4.7,Avg. Ex-Showroom price,196.0,452.00,30.0,39.47
6,Royal Enfield Super Meteor 650,363900.0,138.0,4.8,Avg. Ex-Showroom price,241.0,648.00,25.0,46.30
7,Royal Enfield Shotgun 650,359430.0,101.0,4.8,Avg. Ex-Showroom price,240.0,648.00,22.5,46.39
8,Royal Enfield Guerrilla 450,239000.0,121.0,4.7,Avg. Ex-Showroom price,185.0,452.00,30.0,39.47
9,Royal Enfield Interceptor 650,302418.0,421.0,4.6,Avg. Ex-Showroom price,213.0,648.00,24.0,47.00
10,Royal Enfield Goan Classic 350,235000.0,34.0,4.8,Avg. Ex-Showroom price,197.0,349.00,33.0,19.94
11,Royal Enfield Scram 440,208000.0,14.0,3.9,Avg. Ex-Showroom price,196.0,443.00,30.0,25.40
12,Royal Enfield Bear 650,339000.0,14.0,4.8,Avg. Ex-Showroom price,216.0,648.00,25.0,46.80

In [47]:
data.to_csv("hari_enfield_bikes.csv", index=False)

In [48]:
import os
import sqlite3

In [57]:
conn = sqlite3.connect(os.path.join('../data', 'hari_enfield_bikes.csv'))

In [58]:
data.to_sql('Meesho_products', conn, if_exists='replace', index=False)

13

In [59]:
meesho_product = conn.execute('''
    SELECT * FROM Meesho_products
''').fetchall

# Step 6: Exploratory Data Analysis

In [49]:
print(data.info())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      13 non-null     object
 1   Price     13 non-null     float64
 2   Rating    13 non-null     float64
 3   Star      13 non-null     object
 4   Showroom  13 non-null     object
 5   KG        13 non-null     float64
 6   CC        13 non-null     float64
 7   Mileage   13 non-null     float64
 8   BHP       13 non-null     float64
dtypes: float64(6), object(3)
memory usage: 1.0+ KB
None
                               Name     Price  Rating Star  \
0          Royal Enfield Hunter 350  149900.0  2386.0  4.7
1         Royal Enfield Classic 350  193080.0   513.0  4.7
2  Royal Enfield Continental GT 650  318418.0  1029.0  4.8
3          Royal Enfield Bullet 350  173562.0   826.0  4.6
4          Royal Enfield Meteor 350  205528.0   799.0  4.6

                 Showroom    KG       CC  Mileage    BHP
0  Avg. Ex-Showroom price  177.0  349.34     35.0  20.20
1  Avg. Ex-Showroom price  195.0  349.00     35.0  20.20
2  Avg. Ex-Showroom price  211.0  648.00     25.0  47.00
3  Avg. Ex-Showroom price  195.0  349.00     35.0  20.20
4  Avg. Ex-Showroom price  191.0  349.34     35.0  19.94

In [50]:
# Step 7: Visualization using Lets-Plot

In [51]:
import lets_plot
from lets_plot import *


LetsPlot.setup_html()

In [52]:
(ggplot(data, aes(x='Name', y='Price', fill='Name')) + 
     geom_bar(stat='identity') +
         ggtitle("Royal Enfield Bike Prices") +
         xlab("Bike Model") +
         ylab("Price (INR)") +
         theme(axis_text_x=element_text(angle=45, hjust=1)))

In [53]:
plot2 = (ggplot(data, aes(x='KG ', y='Price', color='Name')) +
         geom_point() +
         ggtitle("KG vs Price Comparison") +
         xlab("KG ") +
         ylab("Price") +
         scale_color_discrete(name="Bike Model"))

In [54]:
plot2

In [55]:
plot3 = (ggplot(data, aes(x='Name', y='Price', fill='Name')) +
         geom_boxplot() +
         ggtitle("Distribution of Bike Prices") +
         xlab("Bike Model") +
         ylab("Price (INR)") +
         theme(axis_text_x=element_text(angle=45, hjust=1)))

In [56]:
plot3